.save {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end ;
  padding: 20px;
  margin-top: auto;
}

.save__button {
  background-color: black !important;
  color: rgb(225, 225, 225) !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 30px !important;
  cursor: pointer ;
  margin-right: auto;
}

.scale__slider {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-self: center;
}

.zoom {
  margin: 0px 20px;
}

.MuiSlider-root {
  min-width: 250px;
}

.editor {
  margin: auto;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
}