.avatar__edit div {
  width: 150px;
  height: 150px;
}

.avatar__edit {
  background-color: black;
  border-radius: 50%;
  opacity: 1;
  align-self: center;
  margin: auto;
}

.avatar__edit .MuiAvatar-root {
  transition: opacity 0.2s ease;
}

.avatar__edit .MuiAvatar-root:hover {
  opacity: 0.5;
  cursor: pointer;
}

.user__error {
  color: red;
  font-size: 17px;
  font-weight: 600;
}

.success {
  color: rgb(19, 239, 19);
  font-size: 17px;
  font-weight: 600;
}

#submitBtn {
  background-color: black !important;
  color: rgb(225, 225, 225) !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 30px !important;
  cursor: pointer ;
  margin-right: auto;
}

.modalContainer {
  margin: auto;
  max-width: 40%;
  min-width: 500px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(252, 252, 252);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.5);
  border-radius: 3%;
  width: 600px;
}

.modalBackground {
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 1100px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  margin: 0;
  top: 0;
  left: 0;
  cursor: default;
  opacity: 100;
}


.modalContainer label {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 18px;
  line-height: 1;
  margin: 20px 6% 6px 6%;
}

.modalContainer input {
  width: 85%;
  border-color: rgb(195, 195, 195);
  border-style: ridge;
  border-width: 1px;
  border-radius: 5px;
  outline: none;
  font-size: 19px;
  padding: 10px;
  color: #000000;
  letter-spacing: 1px;
  margin: 0 5%;
}

.modalContainer .footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end ;
  padding: 20px;
  margin-top: auto;
}

.modalContainer p {
  padding: 10px;
  text-align: center;
}

.modalBackground .modalContainer .title {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: 15px 20px;
  font-size: 12px;
  line-height: 1;
  /* margin-bottom: auto; */
}

.close {
  cursor: pointer;
  justify-self: flex-start;
}

.title > h1 {
  margin-left: 50px;
}