.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post__body {
  flex: 1;
  padding: 10px 10px 0px 0px;
}

.post__body > img {
  border-radius: 10px;
  max-width: 98%;
  min-width: 300px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  border-width: 1px;
  margin: 0px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 400;
  font-size: 15px;
  color: gray;
}

.post__avatar {
  padding: 15px;
}

.post__time {
  color: gray;
  font-weight: 400;
  font-size: 15px;
}

.actions {
  cursor: pointer;
  margin: -3px 8%;
  padding: 5px;
}

.actions:hover {
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
  border-width: 20px;
}

.likes {
  display: flex;
  flex-direction: rows;
}