.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.post__body {
  flex: 1;
  padding: 10px 10px 0px 0px;
}

.post__body > img {
  border-radius: 10px;
  max-width: 98%;
  min-width: 300px;
  border-style: solid;
  border-color: rgb(210, 210, 210);
  border-width: 1px;
  margin: 0px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--twitter-color);
}

.post__headerSpecial {
  font-weight: 400;
  font-size: 15px;
  color: gray;
}

.post__avatar {
  padding: 15px;
}

.post__time {
  color: gray;
  font-weight: 400;
  font-size: 15px;
}

.actions {
  cursor: pointer;
  margin: -3px 8%;
  padding: 5px;
}

.likes, .comments, .retweets, .bookmarks {
  display: flex;
  transition: color 0.3s ease;
}

.likes .MuiSvgIcon-root, .comments .MuiSvgIcon-root, .retweets .MuiSvgIcon-root, .bookmarks .MuiSvgIcon-root {
  transition: background-color 0.4s ease;
  border-radius: 50%;
}

.likes:hover {
  color: red;
}

.likes .MuiSvgIcon-root:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.comments {
  display: flex;
  transition: color 0.3s ease;
}

.comments:hover {
  color: rgb(0, 140, 255);
}

.comments .MuiSvgIcon-root:hover {
  background-color: rgba(0, 174, 255, 0.2);
}

.retweets:hover {
  color: green;
}

.retweets .MuiSvgIcon-root:hover {
  background-color: rgba(43, 255, 0, 0.2);
}

.bookmarks {
  display: flex;
  transition: color 0.3s ease;
}

.bookmarks .MuiSvgIcon-root:hover {
  color: rgb(201, 25, 255);
  background-color: rgba(174, 75, 255, 0.2);
}