.profile {
    display: flex;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.profile__cont {
    margin-left: 10px;
    margin-right: 5px;
}

.profile__displayName {
    font-weight: bold;
    position: relative;
}

.profile__username {
    color: rgb(116, 116, 116);
    font-weight: 500;
    position: relative;
}

.profile:hover {
    background-color: var(--twitter-background);
    border-radius: 40px;
    transition: background-color 50ms ease-out;
}